<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
  <a class="navbar-brand" href="#">Monolith</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard/post">Post</a>
      </li>
    </ul>
  </div>
</nav>
